:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.popup {
  margin: 1rem;
  padding: 1rem;
  border: solid black 1px;
  border-radius: 15px;
}

.sign-square {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 2rem;
  width: 7rem;
  padding: 1rem;
  border: solid black 1px;
}
